.card_produto {
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid black;
}

.card_produto_image {
    width: 100%;
}

.card_produto_descricao {
    display: flex;
    flex-direction: column;
    margin-left: .7em;
    margin-bottom: .7em;
}

.card_produto_titulo {
    font-weight: bold;
    font-size: 1.3em;
    margin: 0;
}

.card_produto_preco {
    font-weight: bold;
    font-size: 1.4em;
}

.card_produto_botao {
    width: 130px;
    border: none;
    margin-left: auto;
    margin-right: .7em;
}